langgraph
langchain
langchain-google-genai
langchain-groq
google-generativeai

streamlit

pydantic
python-dotenv

chromadb
sentence-transformers

python-docx
reportlab

tiktoken

pandas
numpy

networkx

rich

rapidfuzz

scikit-learn
